<div class="container">
  <div class="topLeft"> 

  </div>
  <div class="topMiddle">

    <div class="menu">
      <div class="submenu" >
          <img class="menuImg" id="home"  alt="">
      </div>
      <div class="submenu" id="products">
          <img class="menuImg"src="/images/buttons/products.png" alt="">
      </div>
      <div class="submenu" >
          <img class="menuImg" id="gallery" src="/images/buttons/Media.png" alt="">
      </div>
      <div class="submenu" id="howitworks">
          <img class="menuImg"src="/images/buttons/How It Works.png" alt="">
      </div>
      <div class="submenu" id="aboutus">
          <img class="menuImg" src="/images/buttons/about.png" alt="">
      </div>

    </div> 
  </div>
  <div class="topRight">

  </div>
  <div class="middleLeft">

  </div>
  <div class="middleMiddle">

    <img class="LOGO" width="1000px" src="/images/svgg.png" alt="">
      </div>
  <div class="middleRight">

  </div>
  <div class="bottomLeft">

  </div>
  <div class="bottomMiddle">

    <div class="sign">
      <img height="200px" width="200px" src="/images/sign.svg" alt="">
    </div>
  </div>
  <div class="bottomRight">

  </div>
</div>