  <div class="grid-container">
    <div class="menu">
      <div class="menuTab">
       <a href="/Grow">Grow</a> 
      </div>
      <div class="menuTab">
        <a href="/Bloom">Bloom</a>
      </div>
      <div class="menuTab">
         <a href="/Enhance">Enhance</a>
      </div>
      <div class="menuTab">
        <a href="/Ingredients">Ingredients</a> 
      </div>
      <div class="menuTab">
         <a href="/Contacts">Contacts & Info</a>
      </div>
   </div>
   <div class="content ">
     <div class="contentleft contentSub">
        <div class="subTop">

        </div>
        <div class="subMiddle">
            Grow 
        </div>
        <div class="subBottom">

        </div>
       </div>
       <div class="contentmiddle contentSub">
         <div class="subTop">

        </div>
        <div class="subMiddle">
            Bloom 
        </div>
        <div class="subBottom">

        </div>
      </div>
      <div class= "contentright contentSub">
       <div class="subTop">

        </div>
        <div class="subMiddle">
            Enhance 
        </div>
        <div class="subBottom">

        </div>
      </div>
   </div>
   <div class="footer">
     footer 
   </div>
</div>
