<div class="container">
  <div> 

  </div>
  <div class=LOGO> 
    <img width="100px" src="/images/sign.svg" alt="">
  </div>
  <div> 
    
  </div>
  <div> 
   
  </div>
  <div class="LOGO"> 
    
     <img  src="/images/svgg.png" alt="">
  </div>
  <div> 
    
  </div>
  <div> 
  
  </div>
  <div> 
    
  </div>
  <div> 
  
  </div>
</div>