<div class="container">
  <div class="topLeft"> 

  </div>
  <div class="topMiddle">

    <div class="menu">
      <div class="submenu" >
          <div class="menuImg" id="home"></div>
      </div>
      <div class="submenu" >
          <div class="menuImg" id="products"></div> 
      </div>
      <div class="submenu" >
          <div class="menuImg" id="gallery"></div>
      </div>
      <div class="submenu" >
          <div class="menuImg" id="howitworks"></div>
      </div>
      <div class="submenu">
          <div class="menuImg" id="aboutus"> </div>
      </div>

    </div> 
  </div>
  <div class="topRight">

  </div>
  <div class="middleLeft">

  </div>
  <div class="middleMiddle">

    <img class="LOGO" src="/images/svgg.png" alt="">
      </div>
  <div class="middleRight">

  </div>
  <div class="bottomLeft">

  </div>
  <div class="bottomMiddle">
   <div class="organicsign">

   </div>
    <div class="copyright">
©2018 NOTORIOUS ORGANIX LLC. ALL RIGHTS RESERVED.
All trademarks referenced herein are the properties of their respective owners.
    </div>
    <div class="sign">
      <img height="150px" width="300px" src="/images/images.jpg" alt="">
    </div>
  </div>
  <div class="bottomRight">

  </div>
</div>