html,body{
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  

}
a { color: inherit; text-decoration: none; } 
.LOGO{
  padding-top:-3000px;
  overflow:hidden;
  margin: 0 auto;
}
.container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.01fr 1fr 0.01fr;
  grid-template-rows: 0.2fr 1fr 0.08fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". . ." ". . ." ". . .";
}