html,body{
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  

}
a { color: inherit; text-decoration: none; } 
.menu{
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . .";
}
.LOGO{
  width: 500px;
  
  margin: 0 auto;
}
.container {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 0.01fr 1fr 0.01fr;
  grid-template-rows: 0.2fr 1fr 0.08fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". . ." ". . ." ". . .";
}
.submenu {
  margin: 0 auto;
}

.menuImg{
  width: 100px;
  height: 100px;
}

.menuImg#home
{
  border: 0;
  background: url(../../images/buttons/Home.png) no-repeat;
  background-size: 100px 100px;

}
.menuImg#home:hover
{
  
  background: url(../../images/buttons/Homeg.png) no-repeat;
  background-size: 100px 100px;
  

}
.menuImg#products
{
  
  background: url(../../images/buttons/products.png ) no-repeat;
  background-size: 100px 100px;

}
.menuImg#products:hover
{
  
  background: url(../../images/buttons/productsg.png) no-repeat;
  background-size: 100px 100px;
}
  .menuImg#gallery
  {
    
    background: url(../../images/buttons/Media.png) no-repeat;
    background-size: 100px 100px;
  
  }
  .menuImg#gallery:hover
  {
    
    background: url(../../images/buttons/Mediag.png) no-repeat;
    background-size: 100px 100px;
  }

    .menuImg#howitworks
    {
      
      background: url(../../images/buttons/How\ It\ Works.png) no-repeat;
      background-size: 100px 100px;
    
    }
    .menuImg#howitworks:hover
    {
      
      background: url(../../images/buttons/How\ It\ Worksg.png) no-repeat;
      background-size: 100px 100px;
    
    }
.menuImg#aboutus
{
  
  background: url(../../images/buttons/about.png) no-repeat;
  background-size: 100px 100px;

}
.menuImg#aboutus:hover
{
  
  background: url(../../images/buttons/aboutg.png) no-repeat;
  background-size: 100px 100px;

}

.sign {
padding-left: 700px;
}